<!DOCTYPE html>
<html lang="hr" ng-app="oModul">
<head>
	<meta charset="UTF-8">
	<title>LV6</title>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<input type="text" ng-model="noviZadatak">
	<button type="submit" ng-click="Dodaj()">Unesi</button>

	<ul>
	 	<li ng-repeat="oZad in oZadaci">
	 		{{oZad.id}} {{oZad.name}}
	 		<button ng-click ="Obrisi(oZad.id)">Obriši</button>
	 	</li>
	</ul>
	
</body>
</html>