<!DOCTYPE html>
<html lang="hr" ng-app="oModul">
<head>
	<meta charset="UTF-8">
	<title>LV6</title>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<ul>
		<li ng-repeat="oProd in oProizvodi">
		Šifra: {{oProd.id}}, {{oProd.name}}, cijena: {{oProd.cijena}}, količina: {{oProd.kolicina}}
		<button ng-click ="DodajuKos(oProd)">Košarica</button>
		</li>
	</ul>
	<ul>
		<li ng-repeat="oProd in oKosarica">
			{{oProd.name}} 	<input type="number" min="0" ng-change="Provjeri(this)" ng-model="this.kolicina">
		</li>
	</ul>
	<div id="cifra"></div>
</body>
</html>
